# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  Crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [ ]:
import pandas as pd
import numpy as np

# Seu código aqui

# criando uma lista com os valores da coluna de anomalias térmicas e armazenando
# numa variável chamada temperaturas

temperaturas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# criando uma série do pandas a partir da lista de temperaturas

anomalias_termicas = pd.Series(data=temperaturas)

# imprimindo a série

anomalias_termicas

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

# seu código aqui

# criando uma lista com todos os anos listados na primeira coluna

anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# criando uma série do pandas utilizando a lista de temperaturas criada na
# célula acima como os dados e a lista de anos como índices

anomalias_termicas = pd.Series(data=temperaturas, index=anos)

# imprimindo a série

anomalias_termicas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [ ]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

# criando uma série do pandas a partir de um dicionário, onde as chaves são os
# índices e os valores são os dados

anomalias_termicas = pd.Series(data=dic_temperaturas)

# imprimindo a série

anomalias_termicas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [ ]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

# criando um dataframe do pandas a partir do ndarray acima e armazenando-o na
# variável df

df = pd.DataFrame(arr)

# imprimindo o dataframe

df

             0           1           2
0    93.818699  102.636793   94.066655
1   105.986063  106.692250   95.803643
2    86.649433   99.880745   97.146806
3    98.008031  115.076791   94.981262
4    96.695979  112.027415   93.067657
5   101.903512  106.965871   88.752219
6   113.455453   99.047912   88.098498
7   111.732994  112.409106   79.987754
8   101.769190   93.672663  113.807647
9    89.877059  103.029039   98.750776
10   96.889041   99.907211  103.889895
11  109.346198  112.161796  110.982384
12   85.900572  116.555387   93.161045
13   84.210537  106.812101  102.452858
14  102.043408   90.280211  103.132091
15  112.785654  101.135885   99.271133
16   94.964889   93.024472   97.246928
17  109.093458  104.960225   94.593263
18  117.501565  110.454277  111.055504
19   95.347283  102.078038   89.341350

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [37]:
#seu código aqui

# abaixo, estou definindo o dataFrame df. Para os valores, passei o ndarray arr
# para nomear as colunas utilizei a função map, passando um lambda que irá
# concatenar 'x' e os números das colunas. Em seguida também passei para a
# função map uma lista com os números das colunsa, em string, para concatenar.
# Para nomear as linhas, passei um range que começa em 1 e termina em 21
# (pois a função range sempre exclui o segundo número passado ao fazer a
# iteração)

df = pd.DataFrame(arr,
                  columns=map(lambda valor: 'x' + valor, ['1', '2', '3']),
                  index=range(1, 21))

df

            x1          x2          x3
1    93.818699  102.636793   94.066655
2   105.986063  106.692250   95.803643
3    86.649433   99.880745   97.146806
4    98.008031  115.076791   94.981262
5    96.695979  112.027415   93.067657
6   101.903512  106.965871   88.752219
7   113.455453   99.047912   88.098498
8   111.732994  112.409106   79.987754
9   101.769190   93.672663  113.807647
10   89.877059  103.029039   98.750776
11   96.889041   99.907211  103.889895
12  109.346198  112.161796  110.982384
13   85.900572  116.555387   93.161045
14   84.210537  106.812101  102.452858
15  102.043408   90.280211  103.132091
16  112.785654  101.135885   99.271133
17   94.964889   93.024472   97.246928
18  109.093458  104.960225   94.593263
19  117.501565  110.454277  111.055504
20   95.347283  102.078038   89.341350

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [62]:
# seu código aqui

# para realizar o cálculo da média, utilizei o método dataframe.mean() do pandas
# que realiza o cálculo de uma média, passando o parâmetro axis = 1, indicando
# que a média deve ser calculada ao longo das colunas

df['media'] = df.mean(axis=1)

# imprimindo o dataFrame

df

            x1          x2          x3       media
1    93.818699  102.636793   94.066655   96.840716
2   105.986063  106.692250   95.803643  102.827319
3    86.649433   99.880745   97.146806   94.558995
4    98.008031  115.076791   94.981262  102.688695
5    96.695979  112.027415   93.067657  100.597017
6   101.903512  106.965871   88.752219   99.207201
7   113.455453   99.047912   88.098498  100.200621
8   111.732994  112.409106   79.987754  101.376618
9   101.769190   93.672663  113.807647  103.083167
10   89.877059  103.029039   98.750776   97.218958
11   96.889041   99.907211  103.889895  100.228716
12  109.346198  112.161796  110.982384  110.830126
13   85.900572  116.555387   93.161045   98.539002
14   84.210537  106.812101  102.452858   97.825165
15  102.043408   90.280211  103.132091   98.485237
16  112.785654  101.135885   99.271133  104.397557
17   94.964889   93.024472   97.246928   95.078763
18  109.093458  104.960225   94.593263  102.882315
19  117.501565  110.454277  111.055504  113.003782
20   95.347283  102.078038   89.341350   95.588890

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [63]:
# seu código aqui

# numpy.log () é uma função matemática que ajuda o usuário a calcular o
# logaritmo natural de x, onde x pertence a todos os elementos da matriz de
# entrada. Log do logaritmo natural é o inverso de exp (), de modo que log
# (exp (x)) = x. O logaritmo natural é logarítmico na base e.

# utilizei o método numpy.log(), que realiza o cálculo do logaritmo natural,
# passando como parâmetro a coluna media. Em seguida atribui o resultado
# como coluna ao dataframe

df['log_med'] = np.log(df['media'])

# imprmindo o dataframe

df

            x1          x2          x3       media   log_med
1    93.818699  102.636793   94.066655   96.840716  4.573068
2   105.986063  106.692250   95.803643  102.827319  4.633051
3    86.649433   99.880745   97.146806   94.558995  4.549224
4    98.008031  115.076791   94.981262  102.688695  4.631702
5    96.695979  112.027415   93.067657  100.597017  4.611123
6   101.903512  106.965871   88.752219   99.207201  4.597211
7   113.455453   99.047912   88.098498  100.200621  4.607174
8   111.732994  112.409106   79.987754  101.376618  4.618842
9   101.769190   93.672663  113.807647  103.083167  4.635536
10   89.877059  103.029039   98.750776   97.218958  4.576966
11   96.889041   99.907211  103.889895  100.228716  4.607455
12  109.346198  112.161796  110.982384  110.830126  4.707999
13   85.900572  116.555387   93.161045   98.539002  4.590452
14   84.210537  106.812101  102.452858   97.825165  4.583182
15  102.043408   90.280211  103.132091   98.485237  4.589907
16  112.785654  101.135885   99.271133  104.397557  4.648206
17   94.964889   93.024472   97.246928   95.078763  4.554706
18  109.093458  104.960225   94.593263  102.882315  4.633586
19  117.501565  110.454277  111.055504  113.003782  4.727421
20   95.347283  102.078038   89.341350   95.588890  4.560057